.button-component {
  width: 100px;
  height: 100px;
  font-size: 4em;
  margin: 40px;
  background-color: #A2A2A2;
  border: none;
  border-radius: 25px;
  outline:none;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  text-decoration: none;
}

.button-component:hover {
    cursor: pointer;
}